@charset "utf-8";

div#tv-radio {
	width: 900px;
	height: 580px;
	margin: auto;
	background: url('../_imagens/radio-tv.png') no-repeat;
	margin-top: -300px;
}
audio#musica {
	display: block;
	position: relative;
	left:573px;
	top: 490px;
	width: 300px;
}

iframe#filme{
	display: block;
	position: relative;
	left: 230px;
	top: 100px;
	width: 450px;
}